<div>
  <kubernetes-object-describe-header resource="resource" kind="kind"></kubernetes-object-describe-header>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{resource.metadata.name}}</dd>
    <dt>Namespace</dt>
    <dd>{{resource.metadata.namespace}}</dd>
    <dt>Created</dt>
    <dd>{{resource.metadata.creationTimestamp}}</dd>
    <dt>Host</dt>
    <dd>{{resource.host}}</dd>
    <dt>Path</dt>
    <dd>{{resource.path || 'None'}}</dd>
    <dt>Service Name</dt>
    <dd>{{resource.serviceName}}</dd>
  </dl>
  <div ng-if="resource.tls && resource.tls.termination">
    <dl class="dl-horizontal">
      <dt>TLS Termination</dt>
      <dd>{{resource.tls.termination}}</dd>
      <dt>Certificate</dt>
      <dd>{{(resource.tls.certificate) ? '*****' : 'None'}}</dd>
      <dt>Key</dt>
      <dd>{{(resource.tls.key) ? '*****' : 'None'}}</dd>
      <dt>CA Certificate</dt>
      <dd>{{(resource.tls.caCertificate) ? '*****' : 'None'}}</dd>
      <dt>Destination CA Cert</dt>
      <dd>{{(resource.tls.destinationCACertificate) ? '*****' : 'None'}}</dd>
    </dl>
  </div>
  <kubernetes-object-describe-labels resource="resource"></kubernetes-object-describe-labels>
  <kubernetes-object-describe-annotations resource="resource"></kubernetes-object-describe-annotations>
  <kubernetes-object-describe-footer resource="resource"></kubernetes-object-describe-footer>
</div>
